<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC 301</title>
</head>
<body>
    <a href="ufc1.html">
        <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/event_results_athlete_headshot/s3/2023-12/PANTOJA_ALEXANDRE_12-16.png?itok=MC4pHQlr" alt="Button Image"> vs
        <img src="https://dmxg5wxfqgb4u.cloudfront.net/styles/event_results_athlete_headshot/s3/2024-02/ERCEG_STEVEN_03-02.png?itok=_8Bg4mn_" alt="Button Image">
    </a>
    <h2>ПАНТОЖА VS ЭРЦЕГ</h2>
    <a>05.05.24 / 05:00 GMT+3 / Основной кард</a>
    <body>
        <h1>У кого больше шансов на победу?</h1>
        <p>Победы Alexandre Pantoja: {{ pantoja_winss}}</p>
        <p>Победы Marko Erceg: {{ erceg_winss}}</p>
        <p>Поражения Alexandre Pantoja: {{ pantoja_lose}}</p>
        <p>Поражения Marko Erceg: {{ erceg_lose}}</p>
        <p>Шансы на победу Alexandre Pantoja: {{ pantoja_chance }}%</p>
        <p>Шансы на победу Marko Erceg: {{ erceg_chance }}%</p>
        <form method="post">
            <button type="submit">Рассчитать шансы</button>
        </form>
    </body>
</body>
</html>
